.dates {
  font-size: smaller;
}

.action-btn {
  width: 40%;
}

.head {
 font-weight: bold;
  margin: 5px 0;
}

.sub-head {
  font-size: smaller;
  color: var(--ion-color-medium);
  margin: 5px 0;
}
.text {
  font-size: 0.8em;
  margin: 0 0 5px 0;
}
