<ion-fab vertical="top" horizontal="center" slot="fixed" [hidden]="!myView">
    <ion-fab-button (click)="newResume()">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>
<ion-list>
    <ng-container *ngFor="let resumeEntry of inputUser?.resume; index as entryIndex;">
        <ion-item>
            <ion-grid>
                <ion-row>
                    <ion-col size="9">
                        <ion-label>
                            <h2>{{resumeEntry.title}}</h2>
                            <h3>{{resumeEntry.description}}</h3>
                            <p>{{resumeEntry.employmentType}}, {{resumeEntry.industrysector}}</p>
                            <ion-chip>
                                <ion-label>{{getResumeEntryDate(resumeEntry.startDate, resumeEntry.endDate)}}</ion-label>
                            </ion-chip>
                            <ion-chip color="medium">
                                <ion-label>{{getResumeEntryTime(resumeEntry.startDate, resumeEntry.endDate)}}</ion-label>
                            </ion-chip>
                        </ion-label>
                    </ion-col>
                    <ion-col size="3" [hidden]="!myView">
                        <ion-grid>
                            <ion-row>
                                <ion-col>
                                    <ion-button color="warning" (click)="editResume(resumeEntry)">edit</ion-button>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-button color="danger" (click)="deleteResume(entryIndex)">delete</ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ng-container>
</ion-list>
