<ion-header>
    <ion-toolbar class="toolbar-no-border">
        <ion-title>Add an Entry</ion-title>
        <ion-buttons slot="end">
            <ion-button color="danger" (click)="close()">
                Cancel
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-list class="list-custom list-general">
        <ion-list-header>
            <ion-label>COMPANY</ion-label>
        </ion-list-header>
        <ion-item lines="none">
            <ion-label>Company Name</ion-label>
            <ion-input slot="end" [(ngModel)]="resumeEntry.company"></ion-input>
        </ion-item>
        <ion-item lines="none">
            <ion-label>Type of work</ion-label>
            <ion-input slot="end" [(ngModel)]="resumeEntry.employmentType"></ion-input>
        </ion-item>
    </ion-list>
    <ion-list class="list-custom">
        <ion-list-header>
            <ion-label>Describe your work</ion-label>
        </ion-list-header>
        <ion-item lines="none">
            <ion-textarea maxlength="300" rows="3" [(ngModel)]="resumeEntry.description"></ion-textarea>
        </ion-item>
        <ion-item lines="none" *ngIf="resumeEntry.description">
            <ion-note slot="end">
                {{ 300 - resumeEntry.description.length }}
            </ion-note>
        </ion-item>
    </ion-list>
    <ion-list class="list-custom">
        <ion-list-header>
            <ion-label>Start Date</ion-label>
        </ion-list-header>
        <ion-item lines="none">
            <ion-datetime [value]="resumeEntry.startDate | date: 'dd.MM.yyyy'" (ionChange)="selectStart($event)" displayFormat="DD MM YYYY" placeholder="Select Date"></ion-datetime>
        </ion-item>
    </ion-list>
    <ion-list class="list-custom">
        <ion-list-header>
            <ion-label>End Date</ion-label>
        </ion-list-header>
        <ion-item lines="none">
            <ion-datetime [value]="resumeEntry.endDate | date: 'dd.MM.yyyy'" (ionChange)="selectEnd($event)" displayFormat="DD MM YYYY" placeholder="Select Date"></ion-datetime>
        </ion-item>
    </ion-list>
    <ion-item-divider></ion-item-divider>
    <ion-fab horizontal="center" style="margin-top: 15px">
        <ion-fab-button (click)="save()">
            <ion-icon name="checkmark-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
