<ion-header>
    <ion-toolbar class="toolbar-no-border">
        <ion-title>Edit CV</ion-title>
        <ion-buttons slot="end">
            <ion-button color="danger" (click)="close()">
                Cancel
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<!-- Inputs of resume -->
<ion-content fullscreen>
    <ion-list class="list-custom list-general">
        <ion-list-header>
            <ion-label>General</ion-label>
        </ion-list-header>
        <ion-item lines="none">
            <ion-label>Title</ion-label>
            <ion-input [(ngModel)]="title" ></ion-input>
        </ion-item>
        <ion-item lines="none">
            <ion-label>Industry Sector</ion-label>
            <ion-input [(ngModel)]="industrysector" ></ion-input>
        </ion-item>
        <ion-item lines="none">
            <ion-label>Employment Type</ion-label>
            <ion-input [(ngModel)]="employmentType"></ion-input>
        </ion-item>
    </ion-list>
    <ion-list class="list-custom">
        <ion-list-header>
            <ion-label>Description</ion-label>
        </ion-list-header>
        <ion-item lines="none">
            <ion-textarea style="padding: 5px 5px 0 5px" [(ngModel)]="description" maxlength="400" rows="3" auto-grow="true" type="text" spellcheck="true" autocapitalize="on"></ion-textarea>
        </ion-item>
        <ion-item lines="none" *ngIf="description">
            <ion-note slot="end">
                {{ 400 - description.length }}
            </ion-note>
        </ion-item>
    </ion-list>
    <ion-list class="list-custom">
        <ion-list-header>
            <ion-label>Time frame</ion-label>
        </ion-list-header>
        <ion-item>
            <ion-label>Start Date</ion-label>
            <ion-datetime placeholder="Select Date" [(ngModel)]="startDate"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Ends</ion-label>
            <ion-datetime value="1990-02-20" placeholder="Select Date" [(ngModel)]="endDate"></ion-datetime>
        </ion-item>
    </ion-list>
    <ion-fab horizontal="center">
        <ion-fab-button (click)="addResumeEntry()">
            <ion-icon name="checkmark-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
