<ion-content force-overscroll="false" class="landing-page bg-gradient">
  <div class="vertical-layout">
    <div class="ion-padding slider">
      <ion-slides pager="true" [options]="slidesOptions" #slideWithNav>
        <ion-slide *ngFor="let s of sliderOne.slidesItems">
          <ion-grid>
            <ion-row>
              <app-aspect-ratio class="center" [ratio]="{w:3, h:4}">
                <!-- image shell um bei ladefehler platzhalter + animation anzuzeigen -->
                <img class="image" [src]="s.path" [alt]="'walkthrough'" >
              </app-aspect-ratio>
            </ion-row>
            <ion-row class="bottom-row">
              <span class="slide-text">{{s.text}}</span>
            </ion-row>
          </ion-grid>
        </ion-slide>
      </ion-slides>

    </div>

    <div class="section-buttons ion-padding">

      <ion-button expand="block" fill="outline" color="white" shape="round" class="button-landing ion-margin-bottom" [routerLink]="['/auth/register']">
        CREATE NEW ACCOUNT
      </ion-button>

      <ion-button expand="block" fill="outline" color="white" shape="round" class="button-facebook button-landing" [routerLink]="['/auth/login']">
        LOG IN
      </ion-button>

    </div>
  </div>
</ion-content>
