
.section-buttons {
  flex: 0 0 auto;
  text-align: center;
  margin-top: 25px;
}

.section-inputs {
  flex: 0 0 auto;
  max-width: 500px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  max-width: 230px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.input {
  border-style:solid;
  border-color:var(--color-jindr-stop1);
  border-width:1px;
  border-radius:3px;
  box-shadow: 0 0 5px 0 rgba(116, 115, 115, 0.5);
  font-family:sans-serif;
  font-size:18px;
  padding:15px;  }
.input:focus { outline:none; }
ion-input {
  --padding-start: 15px;
  --padding-end: 15px;
  --padding-top: 15px;
  --padding-bottom: 15px;
}

.forgot-password {
  color: var(--color-button-star);
  float: right;
  margin-top: 10px;
}

.error-container {
  .error-message {
    margin: calc(var(--page-margin) / 2) 0px;
    display: flex;
    align-items: center;
    color: var(--ion-color-danger);
    font-size: 11px;

    ion-icon {
      padding-inline-end: calc(var(--page-margin) / 2);
    }
  }
}
