<ion-header>
    <ion-toolbar class="toolbar-no-border">
        <ion-title>Create Job</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="pages"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="settings-page bg-muted">

    <form [formGroup]="createForm">
        <ion-list class="list-custom list-general">

            <ion-item lines="none">
                <ion-label>Title</ion-label>
                <ion-input formControlName="title" class="right" slot="end"></ion-input>
            </ion-item>

            <ion-item lines="none">
                <ion-label>Payment</ion-label>
                <ion-input formControlName="payment" class="right" slot="end"></ion-input>
            </ion-item>

            <ion-item lines="none">
                <ion-label>Description</ion-label>
                <ion-textarea maxlength="600" rows="3" auto-grow="true" type="text" spellcheck="true"
                              autocapitalize="on" formControlName="description"></ion-textarea>
            </ion-item>

            <ion-item lines="none">
                <ion-label>Homepage</ion-label>
                <ion-input formControlName="homepage" type="url" autocomplete="url" class="right" slot="end"></ion-input>
            </ion-item>

            <ion-item lines="none" *ngIf="createForm.controls.description.value">
                <ion-note slot="end">
                    {{ 600 - createForm.controls.description.value.length }}
                </ion-note>
            </ion-item>

            <ion-item lines="none">
                <ion-label>Skill</ion-label>
                <!--ngfor-->
                <ion-select multiple="true" cancel-text="None of them" ok-text="Ok">
                    <!-- <ion-select-option *ngFor="let interest of interests; let i = index" value="{{interest.id}}">{{interest.name}}</ion-select-option>-->
                </ion-select>
            </ion-item>

            <ion-item lines="none">
                <ion-label>Location</ion-label>
                <ion-toolbar>
                    <ion-searchbar formControlName="searchbar" (ionInput)="updateSearchResults()"
                                   placeholder="Search for a place"></ion-searchbar>
                </ion-toolbar>
                <ion-list [hidden]="autocompleteItems.length == 0">
                    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
                        {{ item.description }}
                    </ion-item>
                </ion-list>
            </ion-item>
                <!--Enddatum/Zeit datepicker/picker-->
                <ion-item lines="none">
                    <ion-label>Date</ion-label>
                    <ion-datetime [value]="job.date | date: 'dd.MM.yyyy'" (ionChange)="selectDOB($event)"
                                  displayFormat="DD.MM.YYYY" placeholder="Select Date"></ion-datetime>
                </ion-item>
                <ion-item lines="none">
                    <ion-label>Working hours</ion-label>
                    <ion-select cancel-text="None of them" ok-text="Ok">
                        <ion-select-option *ngFor="let number of [1,2,3,4,5,6,7,8,9,10,11,12]" value="{{number}}">{{number}} h</ion-select-option>
                    </ion-select>
                </ion-item>
        </ion-list>
    </form>
</ion-content>

<ion-footer>
    <ion-button [disabled]="!createForm.valid" type="button" expand="full" fill="solid" color="primary"
                (click)="createJob()">Release
    </ion-button>
</ion-footer>
