#home_map {
  position: relative;
  top: 225px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.button-home {
  width: 100px;
  height: 100px;
  border: 5px solid #7AE3D7;
  outline: 6px solid white;

  background-color: white;
  border-radius: 50%;
}

.cls-1 {
  // Background
  font-size: 23px;
}

.cls-1, .cls-4 {
  font-family: SFProText-Regular, SF Pro Text;
  letter-spacing: -0.024em;
}

.cls-2 {
  fill: #fff;
}

.cls-3 {
  fill: url(#pattern);
}

.cls-4 {
  fill: #7ae3d7;
  font-size: 17px;
}

.cls-5 {
  filter: url(#Pfad_1);
}
