$mapWidthAndHeight: 380px;
$topSpace: 220px;

ion-content {
  --background: url(../../../assets/images/Background1024.svg) no-repeat center/cover fixed;
}
.top-info {
    z-index: 100;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 4%;
}
.green {
  color: var(--ion-color-success-shade)!important;
}

.red {
  color: var(--ion-color-danger)!important;
}

.orange {
  color: var(--ion-color-warning)!important;
}

#map_overlay {
  pointer-events: none;
  position: absolute;
  width: $mapWidthAndHeight;
  height: $mapWidthAndHeight;
  top: $topSpace;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#map {
  position: relative;
  display: block;
  clip-path: circle($mapWidthAndHeight/2-4 at center);
  width: $mapWidthAndHeight;
  height: $mapWidthAndHeight;
  top: $topSpace +1px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.cls-1 {
  fill: #ffffff;
  border: 2px solid black;
  box-shadow: black;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cls-2 {
  fill: var(--ion-color-medium);
  font-size: 17px;
  letter-spacing: -0.024em;
}

.me-button-group, app-jindr-button {
  padding-top: 30px;
  width: ($mapWidthAndHeight - $mapWidthAndHeight*0.2);
  margin-left: 50%;
  transform: translate(-50%, 0%);
}

app-jindr-button {
  display: block;
  cursor: pointer;
}


// from 720px to 665px screen width
@media only screen
and (min-device-height : 683px)
and (max-device-height : 720px)
{
  app-jindr-button{
    padding-top: 0!important;
  }
  .me-button-group {
    padding-top: 5vh!important;
  }
}

// from 682px to 300px screen width
@media only screen
and (min-device-height : 300px)
and (max-device-height : 682px)
{
  $mapWidthAndHeight2: 50vh;
  #map_overlay {
    top: 30%!important;
    width: $mapWidthAndHeight2!important;
    height: $mapWidthAndHeight2!important;
  }
  #map {
    top: 30%!important;
    width: $mapWidthAndHeight2!important;
    height: $mapWidthAndHeight2!important;
    clip-path: circle($mapWidthAndHeight2/2-2 at center)!important;
  }
  .me-button-group, app-jindr-button {
    padding-top: 0;
    width: ($mapWidthAndHeight2 - $mapWidthAndHeight2*0.2)!important;
  }
  .me-button-group{
    padding-top: 4vh;
  }
}


