$mapWidthAndHeight: 380px;
$topSpace: 220px;

ion-content {
  --background: url(../../../assets/images/Background1024.svg) no-repeat center/cover fixed;
}

#map_overlay {
  pointer-events: none;
  position: absolute;
  width: $mapWidthAndHeight;
  height: $mapWidthAndHeight;
  top: $topSpace;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#map {
  position: relative;
  display: block;
  clip-path: circle($mapWidthAndHeight/2-4 at center);
  width: $mapWidthAndHeight;
  height: $mapWidthAndHeight;
  top: $topSpace +1px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.cls-1 {
  fill: #ffffff;
  border: 2px solid black;
  box-shadow: black;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cls-2 {
  fill: var(--color-jindr-basic);
  font-size: 17px;
  font-family: SFProText-Regular, SF Pro Text;
  letter-spacing: -0.024em;
}

.me-button-group, app-jindr-button {
  padding-top: 30px;
  width: ($mapWidthAndHeight - $mapWidthAndHeight*0.2);
  margin-left: 50%;
  transform: translate(-50%, 0%);
}

app-jindr-button {
  display: block;
  cursor: pointer;
}