<ion-header class="header-custom">
  <ion-toolbar class="toolbar-no-border">
    <ion-buttons slot="start">
        <ion-button (click)="presentPopover($event)" fill="clear">
          <ion-icon slot="icon-only" name="ellipsis-vertical" class="text-2x" color="medium"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>
      <div class="job-name" (click)="handleJobInfo()">{{job?.title}}</div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="close()">
        Done
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="snd-bar">
    <div *ngIf="job?.creator === you?._id" style="text-align: center">
      <ion-button color="success" expand="full" class="btn" size="small"  *ngIf="!jobOffer || jobOffer.user !== he._id" (click)="makeOffer(job?._id, he?._id, messageWrapper._id)">
        Send job offer
      </ion-button>
      <ion-button color="warning" expand="full" class="btn" size="small" *ngIf="jobOffer && jobOffer.user === he._id && jobOffer.dateReaction === 0" (click)="rejectOffer(job?._id, he?._id, messageWrapper._id)">Cancel job offer</ion-button>
      <ion-chip color="success" *ngIf="jobOffer && jobOffer.user === he?._id && jobOffer.accepted === true"><ion-label>{{he?.firstName}} {{he?.lastName}} has accepted this offer on <br> {{jobOffer.dateReaction | date: 'short'}}</ion-label></ion-chip>
      <ion-chip color="danger" *ngIf="jobOffer && jobOffer.user === he?._id && jobOffer.accepted === false && jobOffer.dateReaction !== 0"><ion-label>{{he?.firstName}} {{he?.lastName}} has declined this offer on <br>{{jobOffer.dateReaction | date: 'short'}}</ion-label></ion-chip>
    </div>
    <div *ngIf="jobOffer && job?.creator !== you?._id">
      <div *ngIf="jobOffer.user === you?._id" >
        <p class="desc ion-align-items-center" *ngIf="jobOffer.accepted"> <ion-icon class="icon" color="success" name="checkmark-done-outline"></ion-icon>You accepted this job offer on {{jobOffer.dateReaction | date: 'short'}}</p>
        <p class="desc ion-align-items-center" *ngIf="!jobOffer.accepted && jobOffer.dateReaction !== 0"><ion-icon class="icon" color="danger" name="close-outline"></ion-icon>You declined this job offer on {{jobOffer.dateReaction | date: 'short'}}</p>
        <p class="desc" *ngIf="!jobOffer.accepted && jobOffer.dateReaction === 0">{{he?.firstName}} {{he?.lastName}} has offered you this job</p>
        <ion-button size="small" class="uBtn" expand="full" color="success" *ngIf="!jobOffer.accepted && jobOffer.dateReaction === 0" (click)="reactOffer(job?._id, messageWrapper.employer, messageWrapper._id, true, jobOffer._id)" >accept</ion-button>
        <ion-button size="small" class="uBtn" expand="full" color="danger" *ngIf="!jobOffer.accepted && jobOffer.dateReaction === 0" (click)="reactOffer(job?._id, messageWrapper.employer, messageWrapper._id, false, jobOffer._id)">decline</ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content #content class="ion-padding">

  <div class="chat-list">
    <div class="chat-item" *ngFor="let item of messageWrapper?.messages" [ngClass]="{'chat-item-sender': item.sender === you._id}">
      <div class="chat-timestamp">
        {{item.timeStamp | date: 'short'}}
      </div>

      <div class="chat-item-content">
        <div class="chat-avatar" *ngIf="item.sender !== you._id">
          <app-aspect-ratio class="rounded" [ratio]="{w: 1, h: 1}">
            <app-image-shell  animation="spinner" [src]="he.image"></app-image-shell>
          </app-aspect-ratio>
        </div>

        <div class="chat-item-bubble" [ngClass]="{'bubble-image': item.type == 'image'}">
          <div class="chat-body" *ngIf="item.type !== 'image'" [innerHtml]="item.body | nlbr"></div>
          <img [src]="item.body" *ngIf="item.type == 'image'">
        </div>
      </div>

      <div style="visibility: hidden" class="chat-item-status" *ngIf="item.sender === you._id">
        <ion-icon name="checkmark-circle" color="secondary"></ion-icon>
        Sent
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="toolbar-no-border">
    <app-input-with-giphy
            (doSubmit)="onSubmitMessage($event)"
            (doSizeChange)="onInputSizeChange()">
    </app-input-with-giphy>
  </ion-toolbar>
</ion-footer>
