<ion-header>
    <ion-toolbar class="toolbar-no-border">
        <ion-title>Edit Job</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="save()" color="danger"></ion-button>
            Done
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="handleScroll($event)" class="settings-page bg-muted">
    <form [formGroup]="editForm">
        <ion-list class="list-custom">

            <ion-list-header>
                <ion-label>EDIT JOB</ion-label>
            </ion-list-header>

            <ion-item lines="none">
                <ion-label>Title</ion-label>
                <ion-input formControlName="title" class="right" slot="end"></ion-input>
            </ion-item>

            <ion-item lines="none">
                <ion-label>Description</ion-label>
                <ion-input formControlName="description" class="right" slot="end"></ion-input>
            </ion-item>

            <ion-item lines="none">
                <ion-label>Starting date</ion-label>
                <ion-datetime [value]="job.date | date: 'dd.MM.yyyy'" (ionChange)="selectDate($event)" displayFormat="DD.MM.YYYY" placeholder="Select Date"></ion-datetime>
            </ion-item>

            <ion-item lines="none">
                <ion-label>Time</ion-label>
                <ion-input formControlName="time" class="right" slot="end"></ion-input>
            </ion-item>

            <ion-item lines="none">
                <ion-label>Location</ion-label>
                <ion-input formControlName="location" class="right" slot="end"></ion-input>
            </ion-item>

            <ion-item lines="none">
                <ion-label>Payment</ion-label>
                <ion-input formControlName="payment" class="right" slot="end"></ion-input>
            </ion-item>

            <ion-item lines="none">
                <ion-label>Mark job as finished</ion-label>
                <ion-toggle color="primary" [(ngModel)]="job.isFinished"></ion-toggle>
            </ion-item>

        </ion-list>
    </form>

    <ion-list class="list-custom">
        <ion-button [disabled]="!editForm.valid" class="ion-text-center" (click)="save()">
            <ion-label>Save</ion-label>
        </ion-button>
    </ion-list>
</ion-content>