<ion-header>
  <ion-toolbar class="toolbar-no-border">
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="close()">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="job-details-content">
  <ion-row class="image-row">
    <ion-col size="12">
      <ion-avatar class="avatar">
        <app-aspect-ratio class="ratio" [ratio]="{w: 1, h: 1}">
          <app-image-shell class="job-image" animation="spinner" [src]="data.image"></app-image-shell>
        </app-aspect-ratio>
      </ion-avatar>
    </ion-col>
  </ion-row>
  <ion-row class="description-row">
    <ion-col size="12">
      <h4 class="details-title">
        <app-text-shell [data]="data.title"></app-text-shell>
      </h4>
      <p class="details-description">
        <app-text-shell animation="bouncing" lines="5" [data]="data.description"></app-text-shell>
      </p>
    </ion-col>
  </ion-row>

  <div class="facts-wrapper">
    <h3 class="detail-title">About the job</h3>
    <ion-row class="facts-row">
      <ion-col class="icon-wrapper">
        <ion-icon class="facts-icon" name="location-outline"></ion-icon>
      </ion-col>
      <ion-col size="4">
        <span class="facts-name">Location</span>
      </ion-col>
      <ion-col size="4">
        <span class="facts-value">
          <app-text-shell [data]="data.cityName"></app-text-shell>
        </span>
      </ion-col>
    </ion-row>
    <ion-row class="facts-row">
      <ion-col class="icon-wrapper">
        <ion-icon class="facts-icon" name="calendar-outline"></ion-icon>
      </ion-col>
      <ion-col size="4">
        <span class="facts-name">Date</span>
      </ion-col>
      <ion-col size="4">
        <span class="facts-value">
          <app-text-shell [data]="data.date | date: 'dd.MM.yyyy'"></app-text-shell>
        </span>
      </ion-col>
    </ion-row>
    <ion-row class="facts-row">
      <ion-col class="icon-wrapper">
        <ion-icon class="facts-icon" name="time-outline"></ion-icon>
      </ion-col>
      <ion-col size="4">
        <span class="facts-name">Hours</span>
      </ion-col>
      <ion-col size="4">
        <span class="facts-value">
          <app-text-shell [data]="data.time"></app-text-shell>
        </span>
      </ion-col>
    </ion-row>
    <ion-row class="facts-row">
      <ion-col class="icon-wrapper">
        <ion-icon class="facts-icon" name="cash-outline"></ion-icon>
      </ion-col>
      <ion-col size="4">
        <span class="facts-name">Pay ({{data.isHourly ? 'per hour' : 'total'}})</span>
      </ion-col>
      <ion-col size="4">
        <span class="facts-value">
          {{data.payment}} €
        </span>
      </ion-col>
    </ion-row>
    <ion-row class="facts-row" *ngIf="data.homepage">
      <ion-col class="icon-wrapper">
        <ion-icon class="facts-icon" name="globe-outline"></ion-icon>
      </ion-col>
      <ion-col size="8">
        <span class="facts-value">
          <app-text-shell [data]="data.homepage"></app-text-shell>
        </span>
      </ion-col>
    </ion-row>
  </div>

  <div class="interests-wrapper" *ngIf="data.interests?.length > 0">
    <h3 class="detail-title">Skills</h3>
    <ion-row class="interests-tags">
      <ion-col class="tag-wrapper" *ngFor="let skill of data.interests">
        <span class="interests-tag">
          <app-text-shell [data]="skill.title"></app-text-shell>
        </span>
      </ion-col>
    </ion-row>
  </div>

  <div class="interested-users-wrapper" *ngIf="interestedUsers.length > 0">
    <h3 class="detail-title">Interested Users</h3>
    <ion-row class="users-row">
      <ion-col class="user-item" size="2" *ngFor="let user of interestedUsers">
        <div (click)="presentPopover($event, user)">
        <app-aspect-ratio class="image" [ratio]="{w: 1, h: 1}">
          <app-image-shell class="user-picture" [src]="user.image"></app-image-shell>
        </app-aspect-ratio>
        <span class="user-name">
          {{user.firstName}} {{user.lastName.charAt(0)}}.
        </span>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<ion-footer *ngIf="authService.user?._id === data.creator && !data.isFinished">
  <ion-button type="button" expand="full" fill="solid" color="primary" (click)="markFinished()">Mark job as finished</ion-button>
</ion-footer>
