<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar-custom toolbar-no-border profile-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Messages</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

      <div class="border-bottom">
        <ion-searchbar placeholder="Search Messages" class="search-bar"></ion-searchbar>
      </div>

        <div class="message-list">
          <ion-row class="entry ion-align-items-center" (click)="goToChat()">
            <ion-col size="2">
              <ion-avatar class="avatar">
                <app-aspect-ratio class="rounded" [ratio]="{w: 1, h: 1}">
                  <app-image-shell  animation="spinner" [src]="'assets/images/avatar.jpg'"></app-image-shell>
                </app-aspect-ratio>
              </ion-avatar>
            </ion-col>
            <ion-col size="10" class="message-item-text">
              <div>
                <div class="user-name">Testname</div>
                <ion-text color="medium"><div>Sent you a message</div></ion-text>
              </div>
            </ion-col>
          </ion-row>
        </div>


</ion-content>
