.cards-wrapper {
  margin-bottom: 32px;
  text-align: center;
}

.grid-half {
  padding-left: 8px;
  padding-right: 8px;
}

.card-custom {
  margin: 12px;
  background-color: var(--ion-color-white);

  &.card-custom-half {
    margin: 6px;
    margin-top: 0;
  }
}

.padding-reduced {
  padding-top: 8px;
  padding-bottom: 8px;
}

ion-list {
  padding: 0;
}

ion-button{
 width: 100%;
}
