<ion-header>
  <ion-toolbar class="toolbar-no-border">
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="close()">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="view-enumeration">
  <ion-card>

    <ion-avatar style="margin-top: 1rem; width: 200px; height: 200px" class="avatar">
      <app-aspect-ratio  [ratio]="{w:1 ,h:1}">
        <app-image-shell class="user-image" [src]="user?.image"></app-image-shell>
      </app-aspect-ratio>
    </ion-avatar>


    <ion-card-title>{{user.firstName}} {{user.lastName.charAt(0)}}.</ion-card-title>
    <p *ngIf="date">{{date}} years old</p>
  </ion-card>

  <ion-card *ngIf="user.aboutMe">
    <ion-card-header>
      <ion-card-subtitle>About ME</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>{{user.aboutMe}}</ion-card-content>
  </ion-card>

  <ion-card *ngIf="user.interest">
    <ion-card-subtitle>Interests</ion-card-subtitle>
    <ion-chip *ngFor="let Interest of user.interest;" color="medium" >
      <ion-label>{{interests[Interest.id]['title']}}</ion-label>
    </ion-chip>
  </ion-card>

  <ion-card *ngIf="user.resume.length > 0">
    <ion-card-header>
      <ion-card-subtitle>My CV</ion-card-subtitle>
    </ion-card-header>
    <app-curriculum [inputUser]="user"></app-curriculum>
  </ion-card>

</ion-content>
