@import '../../../../sass/helper.scss';

:host {
  --border-color-rgb: rgba(var(--ion-color-medium-rgb), 0.1);
}
.profile-header {
  height: 70vh;
  min-height: 400px;
  position: relative;
}

.profile-info {
  padding: 16px;

  .profile-title {
    margin-bottom: 8px;
  }

  .profile-user-name {
    color: #585858;
    font-size: 32px;
    font-weight: 700;
  }
}

.profile-intro {
  padding: 4px 16px;
  line-height: 1.4em;
  font-size: 16px;
  color: var(--ion-color-medium);
}
