<div class="swipe-card">
<div class="image-container">
  <app-aspect-ratio [ratio]="{w: 1, h: 1}" style="overflow: visible">
    <app-image-shell animation="spinner" class="user-image" [src]="data?.image"></app-image-shell>
  </app-aspect-ratio>
</div>
  <div class="card-caption">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col>
        <div class="card-title">
          <span class="card-user-name">
            {{data?.title}}
          </span>

        </div>
        <div class="card-user-info">
          <div *ngIf="distance"><ion-icon name="location-outline"></ion-icon>
            {{distance}} {{distance === 1 ? 'kilometer' : 'kilometers'}} away</div>
          <div><ion-icon name="briefcase-outline"></ion-icon>{{data?.description}}</div>
        </div>
      </ion-col>
      <ion-col size="auto" *ngIf="!isPreview">
        <ion-icon class="button-info" name="information-circle" (click)="handleViewInfo()"></ion-icon>
      </ion-col>
    </ion-row>
  </div>
</div>
